@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Young Serif', serif;
    background: #222;
    color: white;
    word-spacing: 2px;
    height: 100vh;
    margin: 0;
}

h1{
    margin: 30px 0;
    text-shadow: 3px 3px #000;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* min-height: 20vh; */
    background: #555;
    padding: 40px;
    width: 35vw;
    max-height: 100vh;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0 #f5f5f5;
}

form{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 8px 0;
}

#signup-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background: #555;
    padding:10px 20px;
    width: 55vw;
    height: 24vw;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px #f5f5f5;
}

#signup-login-container form{
    display: flex;
    position: relative;
    flex-direction: column;
}

#signup-login-container .barrier{
    width: 1px;
    z-index: 1;
    position: relative;
    height: 60%;
    background: gray;
}

#signup-login-container form div{
    display: flex;
    margin: 15px 0;
    align-items: center;
}

#signup-login-container label{
    margin: 0 15px;
}

#signup-login-container input{
    font-family: 'Young Serif',serif;
    font-size: 1em;
    margin: 0 10px;
    padding: 6px 10px;
    outline: none;
    background: whitesmoke;
    color: #222;
    border: none;
    border-bottom: 4px solid gray;
    border-right: 4px solid gray;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
}

#signup-login-container input::placeholder{
    font-size: 0.85em;
}

#signup-login-container input:focus{
    border-bottom: 4px solid lightseagreen;
    border-right: 4px solid lightseagreen;
}

#signup-login-container a{
    color: white;
    font-weight: 400;
    cursor: pointer;
}

#signup-login-container a.google{
    background: rgba(255, 51, 0,0.9);
}

#signup-login-container a.github{
    background: rgba(0,0,0,0.9);
}

#signup-login-container a.google:hover{
    background: rgb(255, 51, 0);
}

#signup-login-container a.github:hover{
    background: rgba(0, 0, 0);
}

#signup-login-container .outh-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    flex-direction: column;
}

#signup-login-container div{
    margin: 10px;
}

#signup-login-container div a{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#signup-login-container div a i{
    margin: 0 10px;
}

#signup-login-container .barrier .OR{
    width: 25px;
    height: 25px;
    background: #555;
    border: 1px solid #555;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55px;
    right: -20px;
}

#signup-login-container form button{
    font-family: 'Young Serif',serif;
    font-size: 1em;
    margin: 0 10px;
    padding: 6px 10px;
    outline: none;
    background: whitesmoke;
    color: #222;
    border: none;
    border-bottom: 4px solid gray;
    border-right: 4px solid gray;
    border-radius: 2px;
    transition: 0.25s ease-in-out;   
    position: absolute;
}

#signup-login-container form button:hover{
    background: lightseagreen;
    cursor: pointer;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

#task-div{
    width: 100%;
    margin: 10px 0;
    height: auto;
}

#data{
    font-family: 'Young Serif',serif;
    background-color: #555;
    width: 85%;
    border: none;
    color: whitesmoke;
    padding: 3px;
    font-size: 1em;
    border-bottom: 1px solid gray;
    outline: none;
}

#data::placeholder{
    color: rgba(245, 245, 245, 0.671);
}

#data:focus{
    border-bottom: 1px solid white;
}

div{
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    margin: 10px 0;
}

li{
    list-style: none;
    margin: 0 10px;
}

#add-new{
    cursor: pointer;
    border-radius: 100%;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.1em;
    color: #f5f5f5;
    background: #222;
}

#add-new:hover{
    color: white;
    background: #353434;
}

.clock{
    position: absolute;
    right: 10px;
    top: 2px;
}

.clock button{
    font-family: monospace;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    color: whitesmoke;
    box-shadow: 0 0 2px 0 whitesmoke;
    background: #222;
    padding: 7px;
}

.clock button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    box-shadow: none;
}

.clock button:active {
    color: #000;
}

.clock button:active:after {
    background: transparent;
    box-shadow: none;
}

.clock button:hover:before {
    box-shadow: none;
    opacity: 1;
}

.clock button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#checks{
    cursor: pointer;
    border-radius: 100%;
    border: none;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 2.25px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #f5f5f5;
    background: #222;
}

#checks span{
    font-size: 0.925rem;
}

#checks:hover{
    background: rgb(255, 0, 0);   
    color: black;
}

.title{
    position: absolute;
    left: 10px;
    top: 2px;
    cursor: pointer;
    font-family: 'Pacifico',cursive;
    font-size: 1.5em;
    text-shadow: 3px 3px #000;
    border-radius: 10px;
    color: lightgrey;
    padding: 4px;
    overflow: hidden;
}

.sidebar {
    visibility: hidden;
    position: absolute;
    top: 2px;
    width: 400px;
    height: 40px;
    background-color: #222;
    box-shadow: 0 0 2px 0 whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s;
}

.show{
    visibility: visible;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin: 0 10px;
}

.sidebar ul:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    box-shadow: none;
}

.sidebar ul:active:after{
    background: transparent;
    box-shadow: none;
}

.sidebar ul:hover:before{
    box-shadow: none;
    opacity: 1;
}

.sidebar ul:after{
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: gainsboro;
}

.sidebar ul li:hover a .icon {
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
}

.sidebar ul li.active a .icon{
    color: lightskyblue;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media screen and (max-width: 425px) {
    .title{
        left: 7px;
        font-size: 1.2em;
    }

    .clock button{
        font-size: 0.85em;
        padding: 6px;
    }

    h1{
        font-size: 1.1em;
    }

    #task-div{
        font-size: 0.755em;
    }

    #check-box{
        margin-left: -15px;
    }

    #task-container{
        width: 60vw;
    }
    
    #data{
        width: 90%;
        font-size: 0.95em;
    }

    #add-new{
        margin-left: 5px;
        width: 25px;
        height: 25px;
        font-size: 1.25em;
    }

    #checks{
        width: 1rem;
        height: 1rem;
        font-weight: bolder;
        font-size: 0.75em;
    }

    ul{
        padding: 40px;
        width: 60vw;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }


    #task-container{
        width: 60vw;
    }

    ul{
        width: 60vw;
    }
}