@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Young Serif', serif;
    background: #222;
    color: white;
    word-spacing: 2px;
    min-height: 100vh;
    margin: 0;
}

h1{
    margin: 30px 0;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* min-height: 20vh; */
    width: 35vw;
}


form{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 15px 0;
}

#task-div{
    width: 100%;
    margin: 15px 0;
    height: auto;
}

#data{
    font-family: 'Young Serif',serif;
    background-color: #555;
    width: 85%;
    border: none;
    color: whitesmoke;
    padding: 2px;
    font-size: 1em;
    border-bottom: 1px solid gray;
    outline: none;
}

#data::placeholder{
    color: rgba(245, 245, 245, 0.671);
}

#data:focus{
    border-bottom: 1px solid white;
}

div{
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    margin: 10px 0;
}

li{
    list-style: none;
    margin: 0 10px;
}

ul{
    background: #555;
    padding: 40px;
    width: 50vh;
    max-height: 100vh;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0 #f5f5f5;
    overflow-y: auto;
}

#add-new{
    cursor: pointer;
    border-radius: 100%;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.1em;
    color: #f5f5f5;
    background: #222;
}

#add-new:hover{
    color: white;
    background: #353434;
}

.clock{
    position: absolute;
    right: 15px;
    top: -25px;
}

.clock h1{
    background: #222;
    font-size: 1em;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: 0 0 1px 0 wheat;
    padding: 6px;
}

.clock h1:hover{
    background: white;
    color: #222;
}